# ignore HyperNEAT /out folders
HyperNEAT/Board/out
HyperNEAT/boost_1_57_0/out
HyperNEAT/fuego-0.4/out
HyperNEAT/JGTL/out
HyperNEAT/NE/HyperNEAT/build
HyperNEAT/NE/HyperNEAT/out
HyperNEAT/tinyxmldll/out
HyperNEAT/zlib/out

# ignore HyperNEAT build folders
HyperNEAT/Board/build/
HyperNEAT/JGTL/build/
HyperNEAT/boost_1_57_0/doc/pdf/build
HyperNEAT/boost_1_57_0/libs/atomic/build/
HyperNEAT/boost_1_57_0/libs/chrono/build/
HyperNEAT/boost_1_57_0/libs/container/build/
HyperNEAT/boost_1_57_0/libs/context/build/
HyperNEAT/boost_1_57_0/libs/coroutine/build/
HyperNEAT/boost_1_57_0/libs/date_time/build/
HyperNEAT/boost_1_57_0/libs/exception/build/
HyperNEAT/boost_1_57_0/libs/filesystem/build/
HyperNEAT/boost_1_57_0/libs/function_types/build/
HyperNEAT/boost_1_57_0/libs/graph/build/
HyperNEAT/boost_1_57_0/libs/graph_parallel/build/
HyperNEAT/boost_1_57_0/libs/iostreams/build/
HyperNEAT/boost_1_57_0/libs/locale/build/
HyperNEAT/boost_1_57_0/libs/log/build/
HyperNEAT/boost_1_57_0/libs/math/build/
HyperNEAT/boost_1_57_0/libs/mpi/build/
HyperNEAT/boost_1_57_0/libs/program_options/build/
HyperNEAT/boost_1_57_0/libs/python/build/
HyperNEAT/boost_1_57_0/libs/random/build/
HyperNEAT/boost_1_57_0/libs/regex/build/
HyperNEAT/boost_1_57_0/libs/serialization/build/
HyperNEAT/boost_1_57_0/libs/signals/build/
HyperNEAT/boost_1_57_0/libs/spirit/example/qi/json/build/
HyperNEAT/boost_1_57_0/libs/system/build/
HyperNEAT/boost_1_57_0/libs/test/build/
HyperNEAT/boost_1_57_0/libs/thread/build/
HyperNEAT/boost_1_57_0/libs/timer/build/
HyperNEAT/boost_1_57_0/libs/wave/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/advanced_hooks/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/cpp_tokens/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/custom_directives/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/emit_custom_line_directives/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/hannibal/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/lexed_tokens/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/list_includes/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/preprocess_pragma_output/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/quick_start/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/real_positions/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/token_statistics/build/
HyperNEAT/boost_1_57_0/libs/wave/samples/waveidl/build/
HyperNEAT/boost_1_57_0/libs/wave/test/build/
HyperNEAT/boost_1_57_0/libs/wave/tool/build/
HyperNEAT/boost_1_57_0/tools/auto_index/build/
HyperNEAT/boost_1_57_0/tools/build/b2
HyperNEAT/boost_1_57_0/tools/build/bin/
HyperNEAT/boost_1_57_0/tools/build/bjam
HyperNEAT/boost_1_57_0/tools/build/bootstrap.log
HyperNEAT/boost_1_57_0/tools/build/src/engine/bin.macosxx86_64/
HyperNEAT/boost_1_57_0/tools/build/src/engine/bootstrap/
HyperNEAT/boost_1_57_0/tools/inspect/build/
HyperNEAT/boost_1_57_0/tools/regression/build/
HyperNEAT/fuego-0.4/build/
HyperNEAT/tinyxmldll/build/
HyperNEAT/zlib/build/

# ignore HyperNEAT documentation
HyperNEAT/NE/HyperNEAT/Hypercube_NEAT/HyperNEAT_Docs
HyperNEAT/NE/HyperNEAT/NEAT/NEAT_docs

# ignore any CPPN directory
**/CPPNarchive

# ignore controller logs
controllers/**/*.log

# ignore experiment definition symlinks
HyperNEAT/NE/HyperNEAT/Hypercube_NEAT/include/Experiments/ExperimentDefinition.h
HyperNEAT/NE/HyperNEAT/Hypercube_NEAT/src/Experiments/ExperimentDefinition.cpp

# temp ignore test experiments
experiment_check
experimentSuite_test
