# ignore HyperNEAT /out folders
HyperNEAT/Board/out
HyperNEAT/boost_1_57_0/out
HyperNEAT/fuego-0.4/out
HyperNEAT/JGTL/out
HyperNEAT/NE/HyperNEAT/build
HyperNEAT/NE/HyperNEAT/out
HyperNEAT/tinyxmldll/out
HyperNEAT/zlib/out

# ignore HyperNEAT documentation
HyperNEAT/NE/HyperNEAT/Hypercube_NEAT/HyperNEAT_Docs
HyperNEAT/NE/HyperNEAT/NEAT/NEAT_docs

# ignore any /build directory
**/build

# ignore any CPPN directory
**/CPPNarchive

# ignore controller logs
controllers/**/*.log

# temp ignore test experiments
experiment_check
experimentSuite_test
